/* Font styles */

.font-libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.font-source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.font-nixie-one {
    font-family: 'Nixie One', cursive;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* Color Pallete */

.bg-color-off-white {
    background-color: #F6F4F2;
}

.bg-color-grey-blue {
    background-color: #425664;
}

.color-grey-blue {
    color: #425664;
}

.color-burnt-gold {
    color: #C6AD8F;
}

.color-saratoga {
    color: rgba(85, 84, 17, 1);
}

.bg-color-saratoga {
    background-color: rgba(85, 84, 17, 1);
}

.bg-color-saratoga-light {
    background-color: rgba(141, 140, 43, 1);
}

.color-wild-sand {
    color: rgba(243, 244, 243, 1);
}

.bg-color-wild-sand {
    background-color: rgba(243, 244, 243, 1);
}

.bg-color-wild-sand-darker {
    background-color: rgba(203, 207, 203, 1);
}

/* Margins, Padding etc */

.ingredients-list {
    margin-top: 30px;
}

/* Header */

.logo-container {
    background-color: rgba(85, 84, 17, 1);
}

.header-container-right {
    color: rgba(85, 84, 17, 1);
    background-color: rgba(203, 207, 203, 1);
    flex-direction: column;
    justify-content: center;
}

.header-container-right h1 {
    font-weight: 900;
    margin-top: .5rem;
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Main Styles */

html,
body {
    font-family: 'Open Sans', sans-serif !important;
    color: rgba(85, 84, 17, 1);
    height: 100%;
}

header {
    font-family: 'Nixie One', cursive;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nixie One', cursive;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: rgba(85, 84, 17, 1);
}

a:hover {
    color: rgba(141, 140, 43, 1);
    text-decoration: none;
}

.form-group {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

#submit-button {
    margin-top: 15px;
}

button {
    background-color: rgba(85, 84, 17, 1) !important;
    border-color: rgba(85, 84, 17, 1) !important;
    color: rgba(243, 244, 243, 1);
}

button a {
    color: rgba(243, 244, 243, 1);
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

#other-recipe-links {
    font-family: 'Open Sans', sans-serif;
}

.form-container {
    padding: 20px;
}

.recipe-header-detail {
    padding: 20px;
}

.recipe-link {
    margin-bottom: 25px;
}

.recipe-attributes input {
    margin-bottom: 20px;
}

.other-recipes {
    margin-top: 25px;
}

.other-recipes li {
    border: 2px solid rgba(85, 84, 17, 1);
}

.ingredients-list h2 {
    margin-bottom: 25px;
}

#other-recipe-links {
    margin-bottom: 1rem;
}

/* Style the collapsible content. Note: hidden by default */
#recipe-links-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#recipe-links-content p {
    margin-top: 1rem;
}

#recipe-links-collapsible {
    display: none;
    overflow: hidden;
}